In [1]:
import pandas as pd
import numpy  as np

In [2]:
df = pd.read_csv("heart-20000.csv")
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           20000 non-null  int64
 1   age          20000 non-null  int64
 2   gender       20000 non-null  int64
 3   height       20000 non-null  int64
 4   weight       20000 non-null  float64
 5   ap_hi        20000 non-null  int64
 6   ap_lo        20000 non-null  int64
 7   cholesterol  20000 non-null  int64
 8   gluc         20000 non-null  int64
 9   smoke        20000 non-null  int64
 10  alco         20000 non-null  int64
 11  active       20000 non-null  int64
 12  cardio       20000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 2.0 MB

In [4]:
from sklearn.ensemble import RandomForestClassifier
X=df.iloc[:, 0:11].values
Y=df.iloc[:, -1].values

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.005, random_state=0)

In [14]:
classifier = RandomForestClassifier()
classifier.fit(X_train, Y_train)
prediction = classifier.predict(X_test)

In [15]:
data_training = classifier.fit(X,Y)
Y_predict = data_training.predict(X)
print(Y_predict)

[0 1 1 ... 0 1 1]

In [16]:
from sklearn import metrics
score = metrics.accuracy_score(Y_test, prediction) * 100
print(score, '%')

78.0 %

In [17]:
from sklearn.metrics import classification_report
print(classification_report(Y,Y_predict))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     10139
           1       1.00      1.00      1.00      9861

    accuracy                           1.00     20000
   macro avg       1.00      1.00      1.00     20000
weighted avg       1.00      1.00      1.00     20000